<h3>New Recipe</h3>
  {{#unless isValid}}
    <div class="alert-box alert">There are some errors. You should totes pay attention to them!</div>
  {{/unless}}

{{#formFor model wrapper="zurb-foundation"}}
  {{ef_input title}}
  {{ef_input description}}
  {{submit "Create!" class="button"}}
{{/formFor}}
