<legend>Edit Recipe</legend>

  <div class="control-group">
    {{#each error in content.errors.title}}
      <span>{{error}}</span>
    {{/each}}
    <label class="control-label" for="title">Title</label>
    <div class="controls">
      {{view Ember.TextField valueBinding="title" id="title" placeholder="Title" required="true"}}
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="description">Description</label>
    <div class="controls">
      {{view Ember.TextArea valueBinding="description" id="description" placeholder="Description" }}
    </div>
  </div>
<div class="form-actions">
    <input type="submit" value="Update" />
</div>