<div class="row">
  <div class="columns large-4 small-4">
    <ul class="side-nav">
      {{#each recipe in controller}}
        <li>
          {{#linkTo 'recipe' recipe}}{{recipe.title}}{{/linkTo}}
        </li>
      {{/each}}
      <li class="divider"></li>
      <li>{{#linkTo recipes/new}}New Recipe{{/linkTo}}</li>
    </ul>
  </div>
  <div class="columns large-8 small-8">
    {{outlet}}
  </div>
</div>